* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

h3 {
  margin: 50px;
  color: #fed136;
  font-size: 28px;
}

.desktop-parent {
  display: flex;
  margin-right: 75px;
  list-style-type: none;
}
.desktop-child{
  margin: 10px;
}
.phone-parent{
  display: none;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.phone-parent-open{
  height: 200px;
}
.hamburger{
  display: none;
}
@media (max-width: 850px){
  .desktop-parent{
    display: none;
  }
  .phone-parent{
    position: absolute;
    top: 10vh;
    height: 0;
    width: 120px;
    background-color: #212529;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
  }
  .phone-parent-open{
    height: 200px;
  }
  .phone-child{
    color: white;
    list-style-type: none;
    margin-right: 30px;
  }
  header{
    background-color: #212529;
  }
  .hamburger{
    display: block;
    height: 50px;
    position: absolute;
    right: 10%;

  }
}