* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

h3 {
  margin: 50px;
  color: #fed136;
  font-size: 28px;
}

.desktop-parent {
  display: flex;
  margin-right: 75px;
  list-style-type: none;
}
.desktop-child{
  margin: 10px;
}
.phone-parent{
  display: none;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.phone-parent-open{
  height: 200px;
}
@media (max-width: 850px){
  .desktop-parent{
    display: none;
  }
  .phone-parent{
    display: block;
    color: white;
    position: relative;
    top: 10vh;
    background-color: #212529;
    list-style-type: none;
  }
  header{
    background-color: #212529;
  }
}